.notification
  .notice
    登録されました
  .wrapper   
    .side-bar
      .header
        %h3.header__name
          NAME
        %ul.header__lists
          %li.list
            = link_to do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li.list
            = link_to do
              = fa_icon 'cog', class: 'icon'

      .groups
        .group
          .group__name
            MMMM
          .group__message
            まだメッセージはありません。
        .group
          .group__name
            IIII
          .group__message
            まだメッセージはありません。
        .group
          .group__name
            IIII
          .group__message
            まだメッセージはありません。

    .chat
      .header
        .left-header
          .left-header__title
            Group
          %ul.left-header__members
            Member：
            %li.member
              GBP
            %li.member
              NEP
        .right-header
          = link_to 'Edit', '#'
      
      .messages
        .message
          .upper-message
            .upper-message__user-name This is sample
            .upper-message__date 2019/05/16 00:54
          .lower-message
            %p.lower-message__content cvnbjvbjbvcjkzcv
        .message
          .upper-message
            .upper-message__user-name sample 2
            .upper-message__date 2019/05/16 00:54
          .lower-message
            %p.lower-message__content nkxczxncvjzlxcljz
        .message
          .upper-message
            .upper-message__user-name sample 3
            .upper-message__date 2019/05/16 00:54
          .lower-message
            %p.lower-message__content zncjzdslcdsc

      .form
        %form#new_message.js-form{action: :"/groups/32002/messages", method: :"post"}
          %input{name: :"utf8", type: :"hidden", value: :"✓"}/
          %input{name: :"authenticity_token", type: :"hidden", value: :"wIFk6nraPtICg1/nFwovd+riyWx4giSBkCsMr0h54nVnVyF13fCdajVsGwFt0d3uRbjKyMqe5SRG56LyLhXY3g=="}/
          %input#message_content.form__message.js-content{name: :"message[content]", placeholder: :"type a message", type: :"text"}/
          .form__mask
            %label.form__mask__image{for: :"message_image"}
              %i.fa.fa-picture-o.icon
              %input#message_image.hidden.js-file{name: :"message[image]", type: :"file"}/
          %input.form__submit{type: 'submit', value: 'Send'}/
